.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(#4E4FEB,#A0BFE0);
    height: 100dvh;
    width: 100%;
  
}
.title{
    color: #fff;
    animation: flipTitle 1s;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 25px;
}
.textDescription{
    color: black;
    font-size: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
@keyframes flipTitle{
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 50px); /* 4 colunas com 50px de largura cada */
    grid-template-rows: repeat(5, 50px); /* 5 linhas com 50px de altura cada */
    gap: 2px; /* Espaçamento entre os quadrados */
  }
  
  .square {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
  }
  
  .row {
    display: flex;
  }

  .containerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 20px;
  }
  
  .card {
    flex: 1;
    background-color: #f0f0f0; 
    height: 125px;
    width: 220px;
    margin: 5px;
    border-radius: 10px;
    transition: background-color 0.1s ease-in-out; 
  }
  .card:hover {
    background-color: #a1a1a1; 
  }
  .backButton {
    margin-top: 10px;
    font-size: 16px;
    background-color: #4e4feb;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  .pageDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
  }